.historyGrid { 
    --gap: 0.75em;
    --line-thickness: 1px;
    --line-offset: calc(var(--gap) / -2);
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: 2fr min-content min-content min-content;
    align-items: center;
    grid-auto-rows: min-content;
    margin: 0 1rem;
    gap: var(--gap);
    position: relative;
    overflow: hidden
}

.historyGrid > div {
    position: relative;
}

.historyTitle:after {
    content: "";
    background-color: black;
    position: absolute;
    height: var(--line-thickness);
    width: 100vw;
    left: 0;
    bottom:  var(--line-offset);
}

.historyTitle::before {
    content: "";
    background-color: black;
    position: absolute;
    width: var(--line-thickness);
    height: 100vh;
    right: var(--line-offset);
    top: 0;
}

