.routineDaysContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;
}

.routineDayComponent {
    width: 80%;
}

.dayInput { 
    width: 50%;
    border: none;
    background-color: white;
    font-size: large;
    padding: 0.5rem;
    margin-left: 5%;
}
.muscleInput {
    width: 50%;
    border: none;
    background-color: var(--inputBG);
    font-size: medium;
    padding: 0.5rem;
    margin-left: 5%;
}

.routineNameInput { 
    width: 100%;
    border: none;
    background-color: var(--inputBG);
    font-size: large;
    padding: 0.5rem;
    text-align: center;
}

.dayName {
    margin-bottom: 1em;
    text-align: center;
    width: 90%;
    margin: auto;
    border: none;
    background-color: var(--inputBG);
    font-size: large;
    padding: 0.5rem;
}

.dayInputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.routineNameContainer {
    width: 80%;
    margin-bottom: 2rem;
}

.separator {
    width: 100%;
    margin: 1em 0;
    border: 1px solid black;
}

@media screen and (min-width: 1000px) {
    
.routineDayComponent {
    width: 30%;
}

.routineDaysContainer {
    flex-direction: row;
}

.routineNameContainer {
    width: 30%;
}
}